{% trans_default_domain 'cocorico_home' %}
<section class="section section-feeds">
    <div class="container">
        <header class="section-head">
            <h2 class="section-title">
                Latest news
            </h2>
        </header>

        <div class="section-body" id="rss-feed">
            <ul class="feed-items feed-items-hover">
                                                                                                    <li class="feed-item">
                        <a href="http://www.startupestonia.ee/" target="_blank">
                            <div class="feed-item-image">
                                <img src="http://www.koduteenus.online/images/logo.png" alt=""/>
                            </div>

                            <div class="feed-item-content">
                                <h2>Supercharging the Estonian startup ecosystem</h2>

                                <p>Read more &gt;</p>
                            </div>
                        </a>
                    </li>
                                                                                                    <li class="feed-item">
                        <a href="https://www.visitestonia.com/en/" target="_blank">
                            <div class="feed-item-image">
                                <img src="http://www.koduteenus.online/images/logo.png" alt=""/>
                            </div>

                            <div class="feed-item-content">
                                <h2>Visit Estonia</h2>

                                <p>Read more &gt;</p>
                            </div>
                        </a>
                    </li>
                                                                                                    <li class="feed-item">
                        <a href="https://en.wikipedia.org/wiki/Estonia%E2%80%93India_relations" target="_blank">
                            <div class="feed-item-image">
                                <img src="http://www.koduteenus.online/images/logo.png" alt=""/>
                            </div>

                            <div class="feed-item-content">
                                <h2>Estonia–India relations</h2>

                                <p>Read more &gt;</p>
                            </div>
                        </a>
                    </li>
                                                                                                    <li class="feed-item">
                        <a href="https://medium.com/@dhirajpatra" target="_blank">
                            <div class="feed-item-image">
                                <img src="http://www.koduteenus.online/images/logo.png" alt=""/>
                            </div>

                            <div class="feed-item-content">
                                <h2>Dhiraj Patra</h2>

                                <p>Read more &gt;</p>
                            </div>
                        </a>
                    </li>
                            </ul>
        </div>
    </div>
</section>
